# Captcha:
# 2CAPTCHA_API=1234abc56de7f890fgh123ijk456789l
#
# MetaMask:
PASSWORD=YOUR_PASS#123
#
# Current Account:
USER=1
#
# Account 1:
HWID_1=123abc45-6789-de01-fg23-hij456kl7m8
DATA_DIR_1=C:\Users\usuario\AppData\Local\Microsoft\Chrome\User Data\
DRIVER_DIR_1=chromedriver.exe
#
# Account 2:
HWID_2=abc123de-fghi-45jk-67lm-890nop12q3r
DATA_DIR_2=C:\Users\usuario\AppData\Local\Microsoft\Chromium\User Data\
DRIVER_DIR_2=chromiumdriver.exe
PATH_BROWSER_2=chromium/chrome.exe
#
# Routines:
BUY_ITEMS=True
HARVEST=True
PLANT=True
POT=True
WATER=True
CROW=True
DAILY=True
#
# Security: (Make things slow)
RANDOM_SLEEPS=True
HUMANIZE=True
#
# HWID: (Multi Account)
CLEAN_HWID=False
SET_HWID=True
#
# Items:
POT_TYPE=SMALL
MIN_SMALL_POT=6
MIN_BIG_POT=0
MIN_WATER=50
MIN_SCARECROW=10
MIN_GREENHOUSE=0
MIN_SUNFLOWER_SAPLING=6
MIN_SUNFLOWER_MAMA=1
#
# Debug: (Use the file debug.ipynb)
DEBUG=False
